.descripcion{
    background-color: #a50031;
    color: white;
    border: none;
    height: 45px;
    padding: 20px;
}
.descripcion p{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.imagen{
    width: 100%;
    height: 350px;
}
.foto td{
    border: 3px solid black;
    width: 400px;
}
#Contenido{
    background-color: #F3D0F7;
    display: flex;
    align-content: center;
    padding: 50px;
}
.foto{
    background-color: white;
}
table{
    margin: auto;
    border-collapse: collapse;
}
