#Contenido{
    background-color: #F3D0F7;
    display: flex;
    align-content: center;
    padding: 30px;
}
#ContenidoImagen{
    background-image: url("../img/Local123.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
}
.botonx{
    width: 33.33%;
    height: 100%;
    display: inline-block;
    border: 1px solid #420014;
    background-color: #DE0044;
    opacity: 40%;
    color: white;
}
.botonx:hover{
    opacity: 90%;
}
#Combos{
}
#Complementos{
    
}
#Postres{
    
}