#Contenido{
    background-color: #F3D0F7;
    display: flex;
    align-content: center;
    padding: 30px;
}
#ContenidoImagen{
    background-image: url("../img/Local123.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 525px;
    display: flex;
}

.botonx{
    width: 33.33%;
    height: 100%;
    display: inline-block;
    border: 2px solid white;
    background-color: #de004359;
    color: white;
}
.botonx:hover{
    background-color: #DE0044;
}
.botonx a{
    overflow: hidden;
    text-decoration: none;
    display: block;
    height: 100%;
    color: white;
    opacity: 100%;

    text-align: center;
}
.botonx a p{
    font-family: arial;
    font-weight: bold;
    font-size: 24pt;
    padding-top: 55%;
}
