h1{
    
    color: rgb(7, 7, 7);
    font-weight: bold;
    font-family:'Times New Roman';
    font-size: 25pt;

}
h2{
    color: rgb(13, 5, 74);
    font-weight: bold;
    font-family:'Courier New';
    font-size: 22pt;
}

h3{
    color: rgb(156, 5, 5);
    font-weight: bold;
    font-family:'Franklin Gothic Medium';
    font-size: 19pt;
}
h4{
    color: rgb(2, 95, 8);
    font-weight: bold;
    font-family:'Gill Sans';
    font-size: 16pt;
}

h5{
    color: rgb(50, 2, 62);
    font-weight: bold;
    font-family:Arial;
    font-size: 13pt;
}
p{
    font-family: Arial;
    font-size: 14pt;
}