#tabla{
    margin: auto;
    border-collapse: collapse;
}
#Contenido{
    padding: 40px;
}
.imagen{
    height: 200px;
    width: 200px;
}
#tabla tr td{
    border: 2px solid black;
    text-align: center;
}