* {
margin: 0;
padding: 0;
}

#menu {
    width: 100%;
    display: flex;
    background-color: #DE0044;
    align-items: center;
}
#logo{
    height: 100px;
    width: 150px;
    display: inline-block;
}
#derechadellogo{
    display: inline-block;
    position: relative;
    height: 130px;
    width: 100%;
}
#txtbuscador{
    height: 30px;
    width: 200px;
    border: none;
}
#btnbuscar{
    height: 30px;
    width: 80px;
    background-color: #f07326;
    border: none;
    margin-left: -4;
    color: white;
    font-family: Arial;
    font-weight: bold;
}
#btnbuscar:hover{
    background-color: #DE5E00;
}
.centrarhorizontal{
    justify-content: center;
}
#listamenu{
    align-items: center;
    width: 100%;
    height: 50%;
    display: flex;
}
#x{
    list-style-type: none;
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
#menu ul li a{
    display: block;
    color: white;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 14pt;
    overflow: hidden;
    text-decoration: none;
    width: 280px;
    height: 100%;
}
#menu ul li:hover{
    background-color: #a50031;
}
#listamenu ul li{
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    text-align: center;
}
#logoMenu{
    height: 80px;
    width: 80px;
    margin: 0px;
    padding: 5px 30px;
}
footer{
    background-color: #DE5E00;
    display: block;
}
.pie{
    overflow: hidden;
    text-decoration: none   ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.boton{
    background-color: #F5D4B7;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-decoration: none;
}
footer section{
    display: inline-block;
    padding: 20px;
}
#izq{
    padding-top: 40px;
}
#izq a{
    display: block;
    margin: 10px;
}
#centro_izq{
    vertical-align: top;
    margin: 10px;
}
#centro_der{
    vertical-align: top;
    margin: 10px;
    font-family: 'Times New Roman';
    font-weight: bold;
}
#der{
    display: inline-block;
    vertical-align: top;
    width: 200px;
}
#copyright{
    vertical-align: top;
    margin: 10px;
    text-align: center;
}
.redes_sociales{
    height:45px;
    width: 45px;
    padding: 10px;
}
.footer{
    margin: auto;
    display:flex;
    justify-content:center;
}
@keyframes fotos {
    0% { transform: translateX(0); }
    10% { transform: translateX(0); }
    
    15% { transform: translateX(-100%); }
    30% { transform: translateX(-100%); }

    35% { transform: translateX(-200%); }
    50% { transform: translateX(-200%); }
    
    55% { transform: translateX(-300%); }
    70% { transform: translateX(-300%); }
    
    75% { transform: translateX(-400%); }
    90% { transform: translateX(-400%); }
    
    95% { transform: translateX(-500%); }
    100% { transform: translateX(-500%); }
}
#slidercontenedor{
    height: 400px;
    width: 95%;
    margin: auto;
    padding: 30px;
}
#Slider{
    position: relative;
    overflow: hidden;
}
#contenedor2{
    background-color: black;
    margin: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
#imagenes{
 position: relative;
 display: flex;
}
.fotos {
	width: 100vw;
	flex-shrink: 0;
	animation-name: fotos;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.fotos img{
    width: 100%;
    vertical-align: top;
    height: 50%;
}
#Descripcion_empresa{
   width: 50%;
   color: white;
}
#contenedor2 section{
    display: inline-block;
    padding: 30px;
    vertical-align: middle;
    text-align: justify;
    font-family: arial;
    font-weight: bold;
    line-height: 150%;
}
#buscador{
    width: 100%;
    height: 50%;
}
#barrabusqueda{
    padding: 25px 0 0 20px;
    display: flex;
}
.quienessomos td{
    border: 3px solid black;
    padding: 10px;
    
}
#contenidoQS{
    padding:20px 30px 40px 30px;
    text-align: center;
}
#ContenidoInicio{
    background-color: #F3D0F7;  
    padding-bottom: 30px;
}
