* {
margin: 0;
padding: 0;
}
#menu {
    width: 100%;
    display: block;
    background-color: #DE0044;
    margin-bottom: 30px;

}
#menu ul li a{
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    padding: 5px 50px;
}
#menu ul li a:hover{
    background-color: #a50031;

}
nav ul li{
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
}
#logoMenu{
    height: 6%;
    width: 6%;
    padding: 5px 30px;
}
footer{
    background-color: #DE5E00;
    display: block;
}
.pie{
    overflow: hidden;
    text-decoration: none   ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.boton{
    background-color: #F5D4B7;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-decoration: none;
}
footer section{
    display: inline-block;
    padding: 20px;
}
#izq{
    padding-top: 40px;
}
#izq a{
    display: block;
    margin: 10px;
}
#centro_izq{
    vertical-align: top;
    margin: 10px;
}
#centro_der{
    vertical-align: top;
    margin: 10px;
}
#der{
    vertical-align: top;
    width: 10%;
}
#copyright{
    vertical-align: top;
    margin: 10px;
    text-align: center;
}
.redes_sociales{
    height:45px;
    width: 45px;
    padding: 10px;
}
.footer{
    margin: auto;
    display:flex;
    justify-content:center;
}



     @keyframes fotos {
        0% { transform: translateX(0); }
        10% { transform: translateX(0); }
    
        15% { transform: translateX(-100%); }
        30% { transform: translateX(-100%); }
    
        35% { transform: translateX(-200%); }
        50% { transform: translateX(-200%); }
    
        55% { transform: translateX(-300%); }
        70% { transform: translateX(-300%); }
    
        75% { transform: translateX(-400%); }
        90% { transform: translateX(-400%); }
    
        95% { transform: translateX(-500%); }
        100% { transform: translateX(-500%);  
        
    }}

#Slider{
 position: relative;
}
#imagenes{
 position: relative;
 display: flex;
  }
.fotos {
	width: 100vw;
	flex-shrink: 0;
	animation-name: fotos;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.fotos img{
    width: 100%;
    vertical-align: top;

}
#Descripcion_empresa{
   width: 50%;
   
}
#contenedor2 section{
    display: inline-block;
    padding: 3%;
    vertical-align: middle;
}

#buscador{
    padding: 20px;
    margin-top: 10px;
    margin-inline: top;
}
